{% extends 'elements/base.html' %}
{% block title %}Escritórios - {% endblock %}
{% block content %}
<section class="block">
    <div class="last-news">
        <div class="row">
            <div class="small-12 columns">
                <h2 class="section-title text-left">Escritórios</h2>
            </div>
        </div>

        <div class="row">
            <form action="{% url 'offices' %}" method="get" class="filter-form" data-abide>
                <div class="large-3 medium-3 small-12 columns">
                    <select id="id_state" name="state">
                    {% for x,y in form.fields.state.choices %}
                        <option value="{{ x }}"{% if request.GET.state == x %} selected{% endif %}>{{ y }}</option>
                    {% endfor %}
                    </select>
                </div>

                <div class="large-3 medium-3 columns">
                    <input id="id_city" name="city" placeholder="Cidade" type="text" {% if request.GET.city %}value="{{ request.GET.city }}"{% endif %}>
                </div>

                 <div class="large-3 medium-3 columns">
                    <input id="id_neighborhood" name="neighborhood" placeholder="Bairro" type="text" {% if request.GET.neighborhood %}value="{{ request.GET.neighborhood }}"{% endif %}>
                </div>

                <div class="large-3 medium-3 small-12 columns">
                    <button type="submit" class="button small expand round">Pesquisar</button>
                </div>
            </form>
        </div>

        <div class="row">
            <div class="large-12 medium-12 small-12 columns">
                <ul class="list-result-office small-block-grid-1 medium-block-grid-1 large-block-grid-2">
                    {% for office in object_list %}
                    <li>
                        <div class="item-office">
                            <h5 class="estado">{{ office.company_name }}</h5>
                            <p>End.: {% if office.patio_type %}{{ office.patio_type }} {% endif %}{{ office.address }}{% if office.number %}, Número {{ office.number }}{% endif %}</p>
                            {% if office.complement %}<p>Complemento: {{ office.complement }}</p>{% endif %}
                            {% if office.neighborhood %}<p>Bairro: {{ office.neighborhood }}</p>{% endif %}
                            {% if office.city %}<p>Cidade: {{ office.city }}</p>{% endif %}
                            <p>UF: {{ office.state }}</p>
                            {% if office.phone %}<p>Telefone: {{ office.phone }}</p>{% endif %}
                            {% if office.emails %}<p>Email: {{ office.emails }}</p>{% endif %}
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% if is_paginated %}
        <hr>
        <div class="row">
            <div class="large-10 large-centered medium-10 medium-centered small-12 small-centered columns">
                <ul class="pagination pages">
                    {% if page_obj.has_previous %}
                        <li class="arrow"><a href="?page=1{% for key, value in request.GET.iteritems %}{% if not key == 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">◀◀</a></li>
                        <li class="arrow"><a href="?page={{ page_obj.previous_page_number }}{% for key, value in request.GET.iteritems %}{% if not key == 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">◀</a></li>
                    {% endif %}
                    {% for num in page_obj.paginator.page_range %}
                        {% ifequal num page_obj.number %}
                            <li><a href="" class="current">{{ num }}</a></li>
                        {% else %}
                            {% if num <= page_obj.number|add:2 and num >= page_obj.number|add:-2 %}
                                <li><a href="?page={{ num }}{% for key, value in request.GET.iteritems %}{% if not key == 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ num }}</a></li>
                            {% endif %}
                        {% endifequal %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="arrow "><a href="?page={{ page_obj.next_page_number }}{% for key, value in request.GET.iteritems %}{% if not key == 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">▶</a></li>
                        <li class="arrow "><a href="?page={{ page_obj.paginator.num_pages }}{% for key, value in request.GET.iteritems %}{% if not key == 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">▶▶</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        {% endif %}
    </div>
</section>

{% endblock %}
{% block extrajs %}
<script type="text/javascript">
    function disableselect(e){
        return false
    }
    function reEnable(){
        return true
    }
    document.onselectstart=new Function ("return false")
    if (window.sidebar){
        document.onmousedown=disableselect
        document.onclick=reEnable
    }
</script>
{% endblock %}











