{% extends 'elements/base.html' %}
{% block title %}Sindicatos - {% endblock %}
{% block content %}
<section class="block">
    <div class="last-news">
        <div class="row">
            <div class="small-12 columns">
                <h2 class="section-title text-left">Sindicatos filiados</h2>
                <p class="section-subtitle">
                    O Sistema Fenacon representa 37 Sindicatos das Empresas de Serviços Contábeis e das Empresas de Assessoramento, Perícias, Informações e Pesquisas.
                </p>
            </div>
        </div>

        <div class="row">
            <form action="{% url 'syndicate' %}" class="filter-form" data-abide method="get">
                <div class="large-6 medium-6 small-12 columns">
                    <select id="id_region" name="region">
                    {% for x,y in form.fields.region.choices %}
                        <option value="{{ x }}"{% if request.GET.region == x %} selected{% endif %}>{{ y }}</option>
                    {% endfor %}
                    </select>
                </div>
                <div class="large-6 medium-6 small-12 columns">
                    <select id="id_state" name="state">
                    {% for x,y in form.fields.state.choices %}
                        <option value="{{ x }}"{% if request.GET.state == x %} selected{% endif %}>{{ y }}</option>
                    {% endfor %}
                    </select>
                </div>
            </form>
        </div>

        <div class="row">
            <div class="large-12 medium-12 small-12 columns">
                <ul class="list-result-office small-block-grid-1 medium-block-grid-1 large-block-grid-2">
                    {% for object in object_list %}
                    <li>
                        <div class="item-office">
                            <h5 class="estado">{{ object.get_state_display|upper }}</h5>
                            <h5>{{ object.name }}</h5>
                            <h5>Presidente: {{ object.president }}</h5>
                            <p>End.: {{ object.address }}</p>
                            <p>CEP: {{ object.cep }} – {{ object.city }}/{{ object.state|upper }} - Tel.: {{ object.phone }}</p>
                            <p>E-mail: <a href="mailto:{{ object.email }}">{{ object.email }}</a></p>
                            <p>Home page: <a href="{{ object.page }}">{{ object.page }}</a></p>
                            <p>Cód. Sindical: {{ object.code }}</p>
                        </div>
                    </li>
                    {% endfor %}

                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block extrajs %}
    <script type="text/javascript">
        $(function() {
            $('#id_region').change(function() {
                $('#id_state').val('');
                this.form.submit();
            });
            $('#id_state').change(function() {
                $('#id_region').val('');
                this.form.submit();
            });
        });
    </script>
{% endblock %}












