<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Fenacon - Prêmio Jubileu de Prata Fenacon 2016</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ MEDIA_URL }}vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ MEDIA_URL }}vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="{{ MEDIA_URL }}css/agency.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
     function disableSubmit() {
      document.getElementById("submit").disabled = true;
     }

      function activateButton(element) {

          if(element.checked) {
            document.getElementById("submit").disabled = false;
           }
           else  {
            document.getElementById("submit").disabled = true;
          }

      }
    </script>
</head>

<body id="page-top" class="index" onload="disableSubmit()">

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in"></div>
                <div class="intro-heading"></div>
                <!--<a href="#services" class="page-scroll btn btn-xl">Saiba mais</a>-->
            </div>
        </div>
    </header>

    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-street-view fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">A QUEM SE DESTINA</h4>
                    <p class="text-muted">Estudantes do ensino técnico, graduação e pós-graduação, profissionais contábeis e empresários do setor associados ao sistema FENACON, SESCON/SESCAP.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-trophy fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">PREMIAÇÃO</h4>
                    <p class="text-muted">Prêmio em dinheiro no valor de R$ 10.000,00 (dez mil reais), passagem e hospedagem para o evento de celebração 25 anos da FENACON no dia 23/11/2016 em Brasília-DF para o autor do projeto vencedor do concurso.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-info fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">COMO PARTICIPAR</h4>
                    <p class="text-muted"><a href="{{ MEDIA_URL }}Regulamento_Premio_Jubileu_de_ Prata_Fenacon2016.pdf">Confira o regulamento</a> do concurso e inscreva seu projeto através do formulário abaixo.</p>
                </div>
            </div>

        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Inscreva-se</h2>
                    <h3 class="section-subheading text-muted">Preencha o formulário abaixo e envie sua inscrição.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" novalidate method="post" action="{% url 'concurso' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Nome completo *" id="id_name" name="name" required data-validation-required-message="Por favor escreva seu nome.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" placeholder="Telefone *" id="id_phone" name="phone" required data-validation-required-message="Por favor escreva seu número de telefone.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="CPF *" id="id_cpf" name="cpf" required data-validation-required-message="Por favor escreva seu CPF.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="file" class="form-control" id="id_file" name="file" required data-validation-required-message="Por favor adicione um arquivo que comprove sua profissão (declaração de matrícula, diploma, comprovante de atuação ou declaração de associado).">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="E-mail *" id="id_email" name="email" required data-validation-required-message="Por favor escreva seu email.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Endereço *" id="id_address" name="address" required data-validation-required-message="Por favor escreva seu endereço.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="CEP *" id="id_cep" name="cep" required data-validation-required-message="Por favor escreva seu CEP.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="file" class="form-control" id="id_work_file" name="work_file" required data-validation-required-message="Por favor adicione um arquivo de trabalho.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <input type="checkbox" onchange="activateButton(this)" name=""> Li e aceito os termos do <a href="{{ MEDIA_URL }}Regulamento_Premio_Jubileu_de_ Prata_Fenacon2016.pdf" style="color:#666; text-decoration:underline;">Regulamento do Concurso</a>.</br></br>
                                <div id="success"></div>
                                <input type="submit" name="submit" id="submit" class="btn btn-xl" value="Enviar inscrição">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; FENACON.</span>
                </div>
                <div class="col-md-4">
                    <!--<ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>-->
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="{{ MEDIA_URL }}Regulamento_Premio_Jubileu_de_ Prata_Fenacon2016.pdf">Regulamento do concurso</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>




    <!-- jQuery -->
    <script src="{{ MEDIA_URL }}vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ MEDIA_URL }}vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="{{ MEDIA_URL }}js/jqBootstrapValidation.js"></script>
    <script src="{{ MEDIA_URL }}js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="{{ MEDIA_URL }}js/agency.min.js"></script>

</body>

</html>
