{% extends 'elements/base.html' %}
{% block title %}{{ object.title }} - {% endblock %}
{% block content %}
<section class="block">
    <div class="last-news">
        <div class="row">
            <div class="small-12 columns">

                <div class="row">
                    <div class="large-12 medium-12 small-12 columns">
                       <div class="articleConteudo">
                           <article>
                               <div id="articleTitle">
                                  <h3>{{ object.title }}</h3>
                               </div>

                               <div class="articleTexto">
                                    <ul class="list-event-info">
                                        {% if object.city %}
                                        <li>
                                            <span>Cidade/Estado: </span>
                                            <p>{{ object.city }}</p>
                                        </li>
                                        {% endif %}
                                        <li>
                                            <span>Local:</span>
                                            <p>{{ object.local }}</p>
                                        </li>
                                        <li>
                                            <span>Inicio:</span>
                                            <p>{{ object.start_at }}</p>
                                        </li>
                                         <li>
                                            <span>Término:</span>
                                            <p>{{ object.ends_in }}</p>
                                        </li>
                                    </ul>

                                    {{ object.text|safe }}

                               </div>

                               <div class="social">
                                 <!-- Go to www.addthis.com/dashboard to customize your tools -->
                                 <div class="addthis_sharing_toolbox"></div>
                               </div>



                              <div class="row">
                                  <div class="large-12 medium-12 columns">

                                       <h5>Comente »</h5>
                                     <div class="comentarios mobile-off">
                                        <div class="fb-comments" data-href="http://www.fenacon.org.br/{{ request.get_full_path }}" data-width="700" data-numposts="2" data-colorscheme="light"></div>
                                     </div>
                                  </div>
                              </div>

                              <hr>
                           </article>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
