{% extends 'elements/base.html' %}
{% block title %}Listagem de Eventos - {% endblock %}
{% block content %}

<section class="block">
    <div class="last-news">
        <div class="row">
            <div class="small-12 columns">
                <form action="{% url 'event_list' %}" method="get">
                <h2 class="section-title text-left">Listagem de Eventos
                    <select name="region" id="id_region">
                        <option value="">Selecione uma região</option>
                        <option value="norte" {% if request.GET.region == 'norte' %}selected{% endif %}>Norte</option>
                        <option value="nordeste" {% if request.GET.region == 'nordeste' %}selected{% endif %}>Nordeste</option>
                        <option value="centro-oeste" {% if request.GET.region == 'centro-oeste' %}selected{% endif %}>Centro-Oeste</option>
                        <option value="sudeste" {% if request.GET.region == 'sudeste' %}selected{% endif %}>Sudeste</option>
                        <option value="sul" {% if request.GET.region == 'sul' %}selected{% endif %}>Sul</option>
                    </select>
                </h2>
                </form>

                <div class="row">
                    <div class="large-12 medium-12 small-12 columns">
                        <ul class="small-block-grid-1 medium-block-grid-1 large-block-grid-1">
                            {% for event in object_list %}
                            <li>
                                <div class="item-list-news">
                                    <div class="row">
                                        <div class="large-2 medium-3 small-12 columns">
                                            <div class="img-list-news">
                                                <a href="{{ event.get_absolute_url }}">
                                                    {% if event.featured_image %}
                                                    <img src="{{ event.get_featured_small }}" height="170" width="170" alt="">
                                                    {% else %}
                                                    <img src="{{ MEDIA_URL }}img/icons/news-default.jpg" height="170" width="170" alt="">
                                                    {% endif %}
                                                </a>
                                            </div>
                                        </div>
                                        <div class="large-10 medium-9 small-12 columns">
                                            <div class="info-list-news">
                                                <b>De {{ event.start_at|date:'d/m/Y' }} à {{ event.ends_in|date:'d/m/Y' }}</b>
                                                <a href="{{ event.get_absolute_url }}"><h4>{{ event.title }}</h4></a>
                                                <p>{{ event.local }}</p>
                                                <a href="{{ event.get_absolute_url }}" class="button small round">Ver mais</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}


                        </ul>
                    </div>
                </div>
                {% if is_paginated %}
                <div class="row">
                    <div class="large-10 large-centered medium-10 medium-centered small-12 small-centered columns">
                        <ul class="pagination pages">
                            {% if page_obj.has_previous %}
                                <li class="arrow"><a href="?page=1{% for key, value in request.GET.iteritems %}{% if not key == 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">◀◀</a></li>
                                <li class="arrow"><a href="?page={{ page_obj.previous_page_number }}{% for key, value in request.GET.iteritems %}{% if not key == 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">◀</a></li>
                            {% endif %}
                            {% for num in page_obj.paginator.page_range %}
                                {% ifequal num page_obj.number %}
                                    <li><a href="" class="current">{{ num }}</a></li>
                                {% else %}
                                    {% if num <= page_obj.number|add:2 and num >= page_obj.number|add:-2 %}
                                        <li><a href="?page={{ num }}{% for key, value in request.GET.iteritems %}{% if not key == 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ num }}</a></li>
                                    {% endif %}
                                {% endifequal %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <li class="arrow "><a href="?page={{ page_obj.next_page_number }}{% for key, value in request.GET.iteritems %}{% if not key == 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">▶</a></li>
                                <li class="arrow "><a href="?page={{ page_obj.paginator.num_pages }}{% for key, value in request.GET.iteritems %}{% if not key == 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">▶▶</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock %}
{% block extrajs %}
    <script type="text/javascript">
        $(function() {
            $('#id_region').change(function() {
                this.form.submit();
            });
        });
    </script>
{% endblock %}
