{% extends 'elements/base.html' %}
{% block title %}Listagem de notícias - {% endblock %}
{% block content %}

<section class="block">
    <div class="last-news">
        <div class="row">
            <div class="small-12 columns">
                <h2 class="section-title text-left">Listagem de notícias</h2>
                 <div class="row">
                    <div class="large-12 medium-12 small-12 columns">
                        <form action="{% url 'news_list' %}" method="get" class="form-filter no-top">
                            <div class="row">
                                <div class="large-3 medium-3 small-12 columns">
                                    <select name="category" id="id_category">
                                        <option value="">Selecione uma categoria</option>
                                        {% for category in categories %}
                                            {% if category.slug == request.GET.category %}
                                                <option value="{{ category.slug }}" selected>{{ category }}</option>
                                            {% else %}
                                                <option value="{{ category.slug }}">{{ category }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="large-3 medium-3 small-12 columns">
                                    <input type="text" class="input-date" name="initial-date" id="id_initial-date" placeholder="Filtrar por data inicial">
                                </div>
                                <div class="large-3 medium-3 small-12 columns">
                                    <input type="text" class="input-date" name="final-date" id="id_final-date"  placeholder="Filtrar por data final">
                                </div>
                                <div class="large-3 medium-3 small-12 columns">
                                    <button type="submit" class="button expand round"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>


                <div class="row">
                    <div class="large-12 medium-12 small-12 columns">
                        <ul class="small-block-grid-1 medium-block-grid-1 large-block-grid-1">
                            {% for news in object_list %}
                            <li>
                                <div class="item-list-news">
                                    <div class="row">
                                        <div class="large-2 medium-3 small-12 columns">
                                            <div class="img-list-news">
                                                <a href="{{ news.get_absolute_url }}">
                                                    {% if news.featured_image %}
                                                    <img src="{{ news.get_featured_small }}" height="170" width="170" alt="">
                                                    {% else %}
                                                    <img src="{{ MEDIA_URL }}img/icons/news-default.jpg" height="170" width="170" alt="">
                                                    {% endif %}
                                                </a>
                                            </div>
                                        </div>
                                        <div class="large-10 medium-9 small-12 columns">
                                            <div class="info-list-news">
                                                <b>{{ news.published_at }}</b>
                                                <a href="{{ news.get_absolute_url }}"><h4>{{ news.title }}</h4></a>
                                                <p>{{ news.subtitle }}</p>
                                                <a href="{{ news.get_absolute_url }}" class="button small round">Ver mais</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% if is_paginated %}
                <div class="row">
                    <div class="large-10 large-centered medium-10 medium-centered small-12 small-centered columns">
                        <ul class="pagination pages">
                            {% if page_obj.has_previous %}
                                <li class="arrow"><a href="?page=1{% for key, value in request.GET.iteritems %}{% if not key == 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">◀◀</a></li>
                                <li class="arrow"><a href="?page={{ page_obj.previous_page_number }}{% for key, value in request.GET.iteritems %}{% if not key == 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">◀</a></li>
                            {% endif %}
                            {% for num in page_obj.paginator.page_range %}
                                {% ifequal num page_obj.number %}
                                    <li><a href="" class="current">{{ num }}</a></li>
                                {% else %}
                                    {% if num <= page_obj.number|add:2 and num >= page_obj.number|add:-2 %}
                                        <li><a href="?page={{ num }}{% for key, value in request.GET.iteritems %}{% if not key == 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ num }}</a></li>
                                    {% endif %}
                                {% endifequal %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <li class="arrow "><a href="?page={{ page_obj.next_page_number }}{% for key, value in request.GET.iteritems %}{% if not key == 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">▶</a></li>
                                <li class="arrow "><a href="?page={{ page_obj.paginator.num_pages }}{% for key, value in request.GET.iteritems %}{% if not key == 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">▶▶</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock %}