{% extends 'elements/base.html' %}
{% block title %}{{ object.title }} - {% endblock %}
{% block extracss %}
<style>
    ul {
      list-style-type: disc;
      font-size: 14px;
      margin-left: 1em;
    }
    ol {
      list-style-type: decimal;
      font-size: 14px;
      margin-left: 1em;
    }
</style>
{% endblock extracss %}
{% block content %}
<section class="block">
    <div class="last-news">
        <div class="row">
            <div class="small-12 columns">

                <div class="row">
                    <div class="large-12 medium-12 small-12 columns">
                       <div class="articleConteudo">
                           <article>
                               <div id="articleDate">
                                <p>Postado em
                                <!--DATA-->{{ object.published_at|date:'d/m/Y'  }}<!--/DATA-->
                                {% if object.font %} - Fonte: {{ object.font }}{% endif %}{% if object.author %} - Por: {{ object.author }}{% endif %}
                                </p>
                               </div>

                               <div id="articleTitle">
                                  <h3>{{ object.title }}</h3>
                               </div>
                                {% if object.subtitle %}
                              <h4 class="subtitulo">
                                  {{ object.subtitle }}
                              </h4>
                                {% endif %}
                                {% if object.featured_image %}
                               <div class="fotodestaque">
                                    <img src="{{ object.get_featured_big }}" alt="">
                               </div>
                                {% endif %}
                               <div class="articleTexto">
                                   {{ object.text|safe }}
                               </div>

                               <div class="social">
                                 <!-- Go to www.addthis.com/dashboard to customize your tools -->
                                 <div class="addthis_sharing_toolbox"></div>
                               </div>
                                {% if related_news %}
                              <div class="row">
                                  <div class="large-12 medium-12 columns">
                                       <h5>Noticias Relacionadas »</h5>
                                       <div class="row">
                                           {% for related in related_news %}
                                              <div class="large-6 medium-6 columns">
                                                <div class="box-recomendamos">
                                                  <a href="{{ related.get_absolute_url }}">
                                                      {% if related.featured_image %}
                                                    <img src="{{ related.get_featured_small }}" alt="">
                                                      {% endif %}
                                                    <h5>{{ related.title }}</h5>
                                                    <p>{{ related.subtitle }}</p>
                                                    </a>
                                                </div>
                                              </div>
                                            {% endfor %}
                                       </div>
                                  </div>
                              </div>
                                {% endif %}
                              <div class="row">
                                  <div class="large-12 medium-12 columns">
                                    <h5>Comente »</h5>
                                     <div class="comentarios mobile-off">
                                           <div class="fb-comments" data-href="http://www.fenacon.org.br/{{ request.get_full_path }}" data-width="700" data-numposts="2" data-colorscheme="light"></div>
                                     </div>
                                  </div>
                              </div>

                              <hr>
                           </article>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
