{% extends "admin/base.html" %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block extrahead %}
    <script src="{{ MEDIA_URL }}js/vendor/jquery.min.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}