{% extends 'elements/base.html' %}
{% block title %}{{ object.title }} - {% endblock %}
{% block content %}

<section class="block">
    <div class="last-news">
        <div class="row">
            <div class="small-12 columns">
                <h2 class="section-title text-left">{{ object.title }}</h2>

                <div class="row">
                    <div class="large-12 medium-12 small-12 columns">
                        <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-1">
                           <li>
                               <div class="item-video">
                                    <div class="iframe-video">
                                        {% if object.type == '0' %}
                                        <iframe src="https://player.vimeo.com/video/{{ object.embed_code }}" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                        {% elif object.type == '1' %}
                                        <iframe width="1280" height="720" src="https://www.youtube.com/embed/{{ object.embed_code }}?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                                        {% endif %}
                                    </div>

                                    <h3>{{ object.title }}</h3>
                                    <p class="categoria">{{ object.category }}</p>
                               </div>
                           </li>
                        </ul>
                    </div>
                </div>

                <a href="{% url 'videos' %}" class="button round">Ver mais videos</a>
            </div>
        </div>


    </div>
</section>

{% endblock %}