{% extends 'elements/base.html' %}
{% block title %}{% if 'revistas' in request.path %}Edições{% else %}Outras Publicações{% endif %} - {% endblock %}
{% block content %}
<section class="block">
    <div class="last-news">
        <div class="row">
            <div class="small-12 columns">
                <h2 class="section-title text-left">{% if 'revistas' in request.path %}Edições{% else %}Outras Publicações{% endif %}
                {% if announce %}
                    <a style="float:right;color:red" href="{% url 'announce_detail' announce.slug %}">Anuncie em nossos veículos</a>
                {% endif %}
                </h2>
                <div class="row">
                    <div class="large-12 medium-12 small-12 columns">
                        <ul class="list-magazines small-block-grid-2 medium-block-grid-4 large-block-grid-6">
                            {% for magazine in object_list %}
                            <li>
                                <div class="item-magazine">
                                    <div class="cover">
                                        <img src="{{ MEDIA_URL }}{{ magazine.image }}" height="" width="" alt="">
                                    </div>
                                    <div class="name">
                                        <h5>{% if 'revistas' in request.path %}Revista {% endif %}{{ magazine.number }}</h5>
                                    </div>
                                    <div class="actions">
                                        <a href="{{ MEDIA_URL }}{{ magazine.file }}" target="_blank">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                        <a href="{{ MEDIA_URL }}{{ magazine.file }}" download>
                                            <i class="fa fa-download"></i>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>

                        <hr>
                        {% if is_paginated %}
                        <div class="row">
                            <div class="large-10 large-centered medium-10 medium-centered small-12 small-centered columns">
                                <ul class="pagination pages">
                                    {% if page_obj.has_previous %}
                                        <li class="arrow"><a href="?page=1{% for key, value in request.GET.iteritems %}{% if not key == 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">◀◀</a></li>
                                        <li class="arrow"><a href="?page={{ page_obj.previous_page_number }}{% for key, value in request.GET.iteritems %}{% if not key == 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">◀</a></li>
                                    {% endif %}
                                    {% for num in page_obj.paginator.page_range %}
                                        {% ifequal num page_obj.number %}
                                            <li><a href="" class="current">{{ num }}</a></li>
                                        {% else %}
                                            {% if num <= page_obj.number|add:2 and num >= page_obj.number|add:-2 %}
                                                <li><a href="?page={{ num }}{% for key, value in request.GET.iteritems %}{% if not key == 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ num }}</a></li>
                                            {% endif %}
                                        {% endifequal %}
                                    {% endfor %}
                                    {% if page_obj.has_next %}
                                        <li class="arrow "><a href="?page={{ page_obj.next_page_number }}{% for key, value in request.GET.iteritems %}{% if not key == 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">▶</a></li>
                                        <li class="arrow "><a href="?page={{ page_obj.paginator.num_pages }}{% for key, value in request.GET.iteritems %}{% if not key == 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">▶▶</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
