{% extends 'elements/base.html' %}
{% block title %}Vídeos - {% endblock %}
{% block content %}

<section class="block">
    <div class="last-news">
        <div class="row">
            <div class="small-12 columns">
                <form action="{% url 'videos' %}" method="get">
                <h2 class="section-title text-left">Vídeos
                    <select name="category" id="id_category">
                        <option value="">Selecione uma categoria</option>
                        {% for category in categories %}
                            {% if category.slug == request.GET.category %}
                            <option value="{{ category.slug }}" selected>{{ category }}</option>
                            {% else %}
                            <option value="{{ category.slug }}">{{ category }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </h2>
                </form>

                <div class="row">
                    <div class="large-12 medium-12 small-12 columns">
                        <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2">
                            {% for video in object_list %}
                               <li>
                                   <div class="item-video">
                                        <div class="iframe-video">
                                            {% if video.type == '0' %}
                                            <iframe src="https://player.vimeo.com/video/{{ video.embed_code }}" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                            {% elif video.type == '1' %}
                                            <iframe width="1280" height="720" src="https://www.youtube.com/embed/{{ video.embed_code }}?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                                            {% endif %}
                                        </div>

                                        <h3>{{ video.title }}</h3>
                                        <p class="categoria">{{ video.category }}</p>
                                   </div>
                               </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% if is_paginated %}
                <div class="row">
                    <div class="large-10 large-centered medium-10 medium-centered small-12 small-centered columns">
                        <ul class="pagination pages">
                            {% if page_obj.has_previous %}
                                <li class="arrow"><a href="?page=1{% for key, value in request.GET.iteritems %}{% if not key == 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">◀◀</a></li>
                                <li class="arrow"><a href="?page={{ page_obj.previous_page_number }}{% for key, value in request.GET.iteritems %}{% if not key == 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">◀</a></li>
                            {% endif %}
                            {% for num in page_obj.paginator.page_range %}
                                {% ifequal num page_obj.number %}
                                    <li><a href="" class="current">{{ num }}</a></li>
                                {% else %}
                                    {% if num <= page_obj.number|add:2 and num >= page_obj.number|add:-2 %}
                                        <li><a href="?page={{ num }}{% for key, value in request.GET.iteritems %}{% if not key == 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ num }}</a></li>
                                    {% endif %}
                                {% endifequal %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <li class="arrow "><a href="?page={{ page_obj.next_page_number }}{% for key, value in request.GET.iteritems %}{% if not key == 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">▶</a></li>
                                <li class="arrow "><a href="?page={{ page_obj.paginator.num_pages }}{% for key, value in request.GET.iteritems %}{% if not key == 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">▶▶</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock %}
{% block extrajs %}
    <script type="text/javascript">
        $(function() {
            $('#id_category').change(function() {
                this.form.submit();
            });
        });
    </script>
{% endblock %}