<!doctype html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
    <meta name="author" content="" />
    <meta name="copyright" content="" />
    <meta name="robots" content="all" />
    <meta name="revisit-after" content="1 days" />
    <meta name="Keywords" content="" />
    <meta name="google-site-verification" content="">
    <meta http-equiv="X-UA-Compatible" content="IT=edge,chrome=IE8">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="application-name" content="">
    <meta name="description" content="">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta property="og:description" content="">
    <meta property="fb:app_id" content="1646697235569741" />
    <title>{% block title %}{% endblock %}Fenacon</title>

     <!-- IOS -->
    <link rel="apple-touch-icon" sizes="57x57" href="{{ MEDIA_URL }}img/icons/icon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ MEDIA_URL }}img/icons/icon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ MEDIA_URL }}img/icons/icon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ MEDIA_URL }}img/icons/icon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ MEDIA_URL }}img/icons/icon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ MEDIA_URL }}img/icons/icon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ MEDIA_URL }}img/icons/icon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ MEDIA_URL }}img/icons/icon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ MEDIA_URL }}img/icons/icon/apple-icon-180x180.png">

    <!-- Android -->
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ MEDIA_URL }}img/icons/icon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ MEDIA_URL }}img/icons/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ MEDIA_URL }}img/icons/icon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ MEDIA_URL }}img/icons/icon/favicon-16x16.png">
    <link rel="manifest" href="{{ MEDIA_URL }}img/icons/icon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ MEDIA_URL }}img/icons/icon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">


    <link rel="stylesheet" href="{{ MEDIA_URL }}css/font-awesome.min.css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/slick.min.css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/fancybox.min.css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/jquery-ui.min.css" />

    <link rel="stylesheet" href="{{ MEDIA_URL }}css/foundation.min.css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/app.min.css" />
    {% block extracss %}{% endblock %}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.4&appId=964698416916163";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <!-- end block css -->
    <script src="{{ MEDIA_URL }}js/vendor/modernizr.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,document,'script','https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1514421771999659');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" src="https://www.facebook.com/tr?id=1514421771999659&ev=PageView&noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->

</head>

<body class="antialiased">
    <div id="body">
        {% include 'elements/header.html' %}
        <section class="main">
            {% block content %}{% endblock %}
        </section>
        {% include 'elements/footer.html' %}
    </div>
    <!-- block scripts -->
    <script src="{{ MEDIA_URL }}js/vendor/jquery.min.js"></script>
    <script src="{{ MEDIA_URL }}js/foundation.min.js"></script>
    <script src="{{ MEDIA_URL }}js/slick.min.js"></script>
    <script src="{{ MEDIA_URL }}js/fancybox.min.js"></script>
    <script src="{{ MEDIA_URL }}js/jquery-ui.min.js"></script>
    <script src="{{ MEDIA_URL }}js/script.min.js"></script>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-561d4598ecd86a93" async="async"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-31720619-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-31720619-2');
    </script>
    {% block extrajs %}{% endblock %}
    <!-- end block scripts -->
</body>

</html>
