<footer>
    <div class="footer">
        <div class="row">

            <div class="large-6 medium-6 small-12 columns">
                <h4>contato</h4>
                <p>Telefax: {{ contact.telefax }}</p>
                <p>Fenacon - Federação Nacional das Empresas de Serviços Contábeis e das Empresas de Assessoramento, Perícias, Informações e Pesquisas.</p>
                <p>{{ contact.address }}, CEP {{ contact.cep }}</p>

                        



            </div>
            <div class="large-4 medium-4 small-12 columns">
                <h4>redes sociais</h4>
                <ul class="social-list">
                    {% if contact.facebook %}
                    <li>
                        <a class="fa fa-facebook" href="{{ contact.facebook }}"></a>
                    </li>
                    {% endif %}
                    {% if contact.instagram %}
                    <li>
                        <a class="fa fa-instagram" href="{{ contact.instagram }}"></a>
                    </li>
                    {% endif %}
                    {% if contact.twitter %}
                    <li>
                        <a class="fa fa-twitter" href="{{ contact.twitter }}"></a>
                    </li>
                    {% endif %}
                    {% if contact.youtube %}
                    <li>
                        <a class="fa fa-youtube" href="{{ contact.youtube }}"></a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <div class="large-2 medium-2 small-12 columns">
                <h4>atendimento</h4>
                <div style="text-align: center; margin-top: -17px;">
                <!--    <a href="http://www.fenacondigital.org.br/digital/central/admin/ouvidoria.aspx?ativa=24-8b-68-9b-de-41-fd-d1&enquadramento=s?entidadeativa=3"><img width="90px" height="90px" src="{{MEDIA_URL}}img/icons/contato.png"></a> -->
                   <a href="mailto:contato@fenacon.org.br" style="color:white;">contato@fenacon.org.br</a>
                </div>
            </div>
        </div>

    </div>
    <div class="copyright">
        <div class="row">
            <div class="large-12 medium-12 small-12 columns text-center">
                <p>2015 © Copyright. Todos os direitos reservados/ Desenvolvido por <a href="http://cafeepixel.com.br/" target="_blank">Café e Pixel</a></p>
            </div>
        </div>
    </div>
</footer>
