<header class="nav-header">
    <div id="menu-show-mobile"><i class="fa fa-bars"></i></div>
    <div class="logobar">
        <div class="row">
            <div class="large-4 medium-4 small-12 columns">
                <div class="menu-logo">
                    <a href="{% url 'home' %}" class="logo">
                        <img src="{{ MEDIA_URL }}img/icons/fenacon_logo.png" height="95" width="339" alt="">
                    </a>
                </div>
            </div>
            <div class="large-4 medium-4 small-12 columns">
                <form action="{% url 'search' %}" class="form-search" method="get">
                    <input type="text" name="q" id="id_q" placeholder="Buscar no site">
                    <button type="submit" class="btn-search"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
    </div>
    <div class="navbar">
        <div class="row">
            <div class="large-12 medium-12 small-12 columns">
                <nav class="menu">
                    <ul>
                        <li class="dropdown">
                            <a href="#">Institucional <i class="fa fa-angle-double-down"></i> </a>
                            <ul class="dropdown-list">
                                {% for item in institutional_list %}
                                <li><a href="{% url 'institutional_detail' item.slug item.pk %}">{{ item.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#">Atuação <i class="fa fa-angle-double-down"></i></a>
                            <ul class="dropdown-list">
                                {% for page in acting_list %}
                                <li><a href="{% url 'acting_detail' page.slug page.pk %}">{{ page.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#">Notícias <i class="fa fa-angle-double-down"></i></a>
                            <ul class="dropdown-list">
                                <li><a href="{% url 'news_list' %}">Todas as Notícias</a></li>
                                <li><a href="{% url 'fenaconmidia_list' %}">FENACON na Mídia</a></li>
                                <li><a href="{% url 'pressclipping_list' %}">Press Clipping</a></li>
                                <li><a href="{% url 'news_list' %}?category=rede-de-noticias">Rede de Notícias</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#">Publicações <i class="fa fa-angle-double-down"></i></a>
                            <ul class="dropdown-list">
                                <li><a href="{% url 'magazines' %}">Revista FENACON</a></li>
                                <li><a href="{% url 'publications' %}">Outras Publicações</a></li>
                                {% if announce %}
                                <li><a href="{% url 'announce_detail' announce.slug %}">Como anunciar</a></li>
                                {% endif %}
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#">Multimídia <i class="fa fa-angle-double-down"></i></a>
                            <ul class="dropdown-list">
                                <li><a href="{% url 'videos' %}">Vídeos</a></li>
                            </ul>
                        </li>

                        <li><a href="{% url 'event_list' %}">Eventos</a></li>
                        <li><a href="{% url 'syndicate' %}">Sindicatos Filiados</a></li>
<!--                        <li><a href="http://www.fenacondigital.org.br/digital/central/admin/ouvidoria.aspx?ativa=24-8b-68-9b-de-41-fd-d1&enquadramento=s?entidadeativa=3" target="_blank">Atendimento</a></li>-->
			<li><a href="http://extranet.fenacon.org.br/">Extranet</a></li>

                    </ul>
                </nav>

            </div>
        </div>
    </div>
</header>
