{% extends "elements/base.html" %}
{% block title %}404 - {% endblock %}
{% block content %}

<section class="block-in">
        <div class="erro404">
            <div class="row">
                <div class="large-12 medium-12 small-12 columns text-center">
                    <h1>
                        <img src="{{ MEDIA_URL }}img/404.png" height="246" width="263" alt="">
                    </h1>
                </div>
            </div>

            <div class="row">
                <div class="large-12 medium-12 small-12 columns text-center">
                    <div id="ops">
                        <h2>Oooops!!!</h2>
                        <h5>Parece que a página que a você estava tentando acessar, não esta mais aqui!</h5>
                        <a href="{% url 'home' %}" class="button ">Voltar para página incial</a>
                    </div>
                </div>
            </div>
        </div>


</section>

{% endblock %}
