{% extends 'elements/base.html' %}
{% block title %}Contato - {% endblock %}
{% block content %}
<section class="block">
    <div class="last-news">
        <div class="row">
            <div class="small-12 columns">
                <h2 class="section-title text-left">Fale conosco</h2>
                {% if messages %}
                <div class="row">
                    <div class="large-12 medium-12 small-12 columns ">
                        {% for message in messages %}
                          <div data-alert class="alert-box {{ message.tags }} radius">
                            {{ message }}
                            <a href="#" class="close">&times;</a>
                          </div>
                        {% endfor %}
                    </div>
                 </div>
                {% endif %}
                <div class="row">
                    <div class="large-6 medium-6 small-12 columns">
                        <form class="contatos" accept-charset="utf-8" method="post" action="{% url 'contact' %}" data-abide>
                            {% csrf_token %}
                            <div class="row">
                                <div class="large-12 medium-12 columns">
                                    <label>Seu nome
                                        <small>*</small>
                                        {{ form.name }}
                                    </label>
                                    <small class="error">Digite seu nome</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="large-6 medium-6 columns">
                                    <label>Seu email
                                        <small>*</small>
                                        {{ form.email }}
                                    </label>
                                    <small class="error">Digite seu email</small>
                                </div>
                                <div class="large-6 medium-6 columns">
                                    <label>Seu telefone
                                        <small>*</small>
                                        {{ form.phone }}
                                    </label>
                                    <small class="error">Digite seu telefone</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="large-6 medium-6 columns">
                                    <label>CNPJ
                                        {{ form.cnpj }}
                                    </label>
                                </div>
                                <div class="large-6 medium-6 small-12 columns">
                                    <label>Assunto
                                        <small>*</small>
                                        <select id="id_subject" name="subject" aria-invalid="false">
                                        <option value="Dúvida">Dúvida</option>
                                        <option value="Empreendedor Individual">Empreendedor Individual</option>
                                        <option value="Sugestão">Sugestão</option>
                                        <option value="Reclamação">Reclamação</option>
                                        <option value="Lei Geral">Lei Geral</option>
                                        <option value="Informação">Informação</option>
                                        <option value="Outros">Outros</option>
                                        </select>
                                    </label>
                                    <small class="error">Digite o assunto</small>
                                </div>
                            </div>
                             <div class="row">
                                <div class="large-12 medium-12 small-12 columns">
                                    <label>Mensagem
                                        <small>*</small>
                                        {{ form.message }}
                                    </label>
                                    <small class="error">Digite o assunto</small>
                                </div>
                            </div>
                            <button type="submit" class="button small  round">Enviar</button>
                        </form>
                    </div>
                    <div class="large-6 medium-6 small-12 columns">
                        <div class="contact-map">
                            <b>Contato</b>
                            <p>Fenacon- Federação Nacional das Empresas de Serviços Contábeis e das Empresas de Assessoramento, Perícias, Informações e Pesquisas.</p>
                            <p>
                                {{ contact.address }}
                                <br> CEP: {{ contact.cep }}
                                <br> Telefax: {{ contact.telefax }}
                            </p>
                            {% if contact.address_imprensa or contact.cep_imprensa or contact.phone or contact.email %}
                            <b>Asessoria de Imprensa</b>
                            <p>
                                {% if contact.address_imprensa %}{{ contact.address_imprensa }}{% endif %}
                                {% if contact.cep_imprensa %}<br> CEP: {{ contact.cep_imprensa }}{% endif %}
                                {% if contact.phone %}<br> Telefone: {{ contact.phone }}{% endif %}
                                {% if contact.email %}<br> Email: <a href="mailto:{{ contact.email }}">{{ contact.email }}</a>{% endif %}
                            </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}