{% extends 'elements/base.html' %}
{% block title %}{{ object.title }} - {% endblock %}
{% block content %}
<section class="block">
    <div class="last-news">
        <div class="row">
            <div class="small-12 columns">
                <h2 class="section-title text-left">{{ object.title }}</h2>
                <div class="row">
                    <div class="large-12 medium-12 small-12 columns">
                        {{ object.text|safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}