{% extends 'elements/base.html' %}

{% block content %}

<section class="block hero">
    <div class="news-hero">
        <div class="row">
            <div class="large-7 medium-7 small-12 columns">
                <div class="slide-hero">
                    {% for slide in main_featured %}
                    {% if slide.embed_code %}
                        <div class="item-slide img-transition">
                            <a href="{{ slide.get_absolute_url }}">
                            {% if slide.type == '0' %}
{#                            <iframe src="https://player.vimeo.com/video/{{ slide.embed_code }}" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>#}
                            <script type="text/javascript">
                                $.ajax({
                                    type:'GET',
                                    url: 'http://vimeo.com/api/v2/video/' + {{ slide.embed_code }} + '.json',
                                    jsonp: 'callback',
                                    dataType: 'jsonp',
                                    success: function(data){
                                        var thumbnail_src = data[0].thumbnail_large;
                                        $('#thumb_wrapper').append('<img src="' + thumbnail_src + '"/>');
                                    }
                                });
                            </script>

                            <div id="thumb_wrapper"></div>
                            {% elif slide.type == '1' %}
                            <img src="http://img.youtube.com/vi/{{ slide.embed_code }}/hqdefault.jpg" height="" width="" alt="">
                            {% endif %}
                            <div class="caption-news">
                                <p>{{ slide.title }}</p>
                            </div>
                        </a>
                        </div>
                    {% else %}
                    <div class="item-slide img-transition">
                        <a href="{{ slide.get_absolute_url }}">
                            <img src="{{ slide.get_featured_big }}" height="" width="" alt="">
                            <div class="caption-news">
                                <p>{{ slide.title }}</p>
                            </div>
                        </a>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="large-5 medium-5 small-12 columns">
                {% if featured.0 %}
                <div class="hero-news hero-news-top img-transition">
                    <a href="{{ featured.0.get_absolute_url }}">
                        <img src="{{ featured.0.get_featured_medium }}" height="" width="" alt="">
                        <div class="caption-news">
                            <p>{{ featured.0.title }}</p>
                        </div>
                    </a>
                </div>
                {% endif %}
                {% if featured.1 %}
                <div class="hero-news img-transition">
                    <a href="{{ featured.1.get_absolute_url }}">
                        <img src="{{ featured.1.get_featured_medium }}" height="" width="" alt="">
                        <div class="caption-news">
                            <p>{{ featured.1.title }}</p>
                        </div>
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% if state_news %}
     <div class="last-news">
        <div class="row">
            <div class="small-12 columns">
                <h2 class="section-title">Notícias do seu estado</h2>
                <div class="row" data-equalizer>
                    {% for news in state_news %}
                    <div class="large-4 medium-4 small-12 columns">
                        <div class="item-last-news img-transition" data-equalizer-watch>
                            <div class="infos">
                                <div class="pic">
                                    <a href="{{ news.get_absolute_url }}">
                                        {% if news.featured_image %}
                                        <img src="{{ news.get_featured_small }}" height="100" width="100" alt="">
                                        {% else %}
                                        <img src="{{ MEDIA_URL }}img/icons/news-default.jpg" height="100" width="100" alt="">
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="text">
                                    <a href="{{ news.get_absolute_url }}"><h4 class="title">{{ news.title|truncatechars:40 }}</h4></a>
                                    <p>{{ news.subtitle|truncatechars:90 }}</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="detail">
                                <span>{% if news.font %}{{ news.font|truncatechars:20  }}{% elif news.author %}
                                    {{ news.author|truncatechars:20  }}, {% endif %}
                                    {{ news.published_at|date:'d/m/Y' }}</span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="last-news">
        <div class="row">
            <div class="small-12 columns">
                <h2 class="section-title">Outros destaques</h2>
                <div class="row" data-equalizer>
                    {% for news in last_news %}
                    <div class="large-4 medium-4 small-12 columns">
                        <div class="item-last-news img-transition" data-equalizer-watch>
                            <div class="infos">
                                <div class="pic">
                                    <a href="{{ news.get_absolute_url }}">
                                        {% if news.featured_image %}
                                        <img src="{{ news.get_featured_small }}" height="100" width="100" alt="">
                                        {% else %}
                                        <img src="{{ MEDIA_URL }}img/icons/news-default.jpg" height="100" width="100" alt="">
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="text">
                                    <a href="{{ news.get_absolute_url }}"><h4 class="title">{{ news.title|truncatechars:40 }}</h4></a>
                                    <p>{{ news.subtitle|truncatechars:90 }}</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="detail">
                                <span>{% if news.font %}{{ news.font|truncatechars:20  }}{% elif news.author %}
                                    {{ news.author|truncatechars:20  }}, {% endif %}
                                    {{ news.published_at|date:'d/m/Y' }}</span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% if guide %}
<section class="contributions">
    <div class="row">

<!--        <div class="large-8 medium-8 small-12 columns">
            <h4>Guia de Contribuição Sindical</h4>
        </div>
        <div class="large-4 medium-4 small-12 columns text-right">
            <a href="{{ guide.0.link }}" class="button round">Acesse a guia</a>
        </div>
-->
    </div>
</section>
{% endif %}
<section class="block products">
    <div class="row">
        {% for institute in institutes %}
        <div class="large-6 medium-6 small-12 columns">
            <div class="item-produtcts img-transition">
                <a href="{{ institute.link }}">
                    <img src="{{ MEDIA_URL }}{{ institute.featured_image }}" height="70" width="275" alt="{{ institute.name }}">
                </a>
                <p>{{ institute.description }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<section class="sindicats">
    <div class="row">
        <div class="large-4 medium-4 small-12 columns">
            <h4>Sindicatos filiados</h4>
        </div>
        <div class="large-8 medium-8 small-12 columns ">
            <form action="{% url 'syndicate' %}" class="filter-form" method="get">
                <div class="row">
                    <div class="large-9 medium-9 small-12 columns">
                        <select id="id_state" name="state">
                        {% for x,y in form.fields.state.choices %}
                            <option value="{{ x }}"{% if request.GET.state == x %} selected{% endif %}>{{ y }}</option>
                        {% endfor %}
                        </select>
                    </div>
                    <div class="large-3 medium-3 small-12 text-right columns">
                        <button type="submit" class="button round">buscar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<section class="block publications">
    <div class="row">
        <div class="large-6 medium-6 small-12 columns">
          <h2 class="section-title">NetSpeed</h2>
           <div class="item-publications">
             <a href="http://netspeed.com.br/">
               <img src="http://fenacon.org.br/media/uploads/arquivos/file69666014.png" width="300">
             </a>
             <a href="http://netspeed.com.br/" target="_blank" class="button round">acessar</a>
           </div>
          </div>
<!--
            <div class="item-publications">
                <div id="fb-root"></div><script>(function(d, s, id) {  var js, fjs = d.getElementsByTagName(s)[0];  if (d.getElementById(id)) return;  js = d.createElement(s); js.id = id;  js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.3";  fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script><div class="fb-post" data-href="https://www.facebook.com/SistemaFenacon/posts/{{ post_id }}" data-width="500"><div class="fb-xfbml-parse-ignore"></div></div>
            </div>
        </div>
-->
        {% if magazine %}
        <div class="large-6 medium-6 small-12 columns">
          <h2 class="section-title">revista fenacon</h2>
            <div class="item-publications">
                <a href="">
                    <img src="{{ MEDIA_URL }}{{ magazine.0.image }}" height="334" width="250" alt="">
                </a>
                <a href="{{ MEDIA_URL }}{{ magazine.0.file }}" target="_blank" class="button round">ler</a>
            </div>
        </div>
        {% endif %}
    </div>
</section>

<section class="subscriptions" id="subscriptions">
<!--
    <div class="row">
        <div class="large-12 medium-12 small-12 columns text-center">
            <h4>Receba nossos informativos</h4>
        </div>
    </div>
    {% if messages %}
    <div class="row">
        <div class="large-12 medium-12 small-12 columns ">
            {% for message in messages %}
              <div data-alert class="alert-box {{ message.tags }} radius">
                {{ message }}
                <a href="#" class="close">&times;</a>
              </diiv>
            {% endfor %}
        </div>
     </div>
    {% endif %}
-->
      <div class="row">
        <!--<div class="large-3 medium-3 small-12 columns "><p></p></div>-->
        <div class="large-8 medium-8 small-12 columns ">
    <div class="row">
        <div class="large-12 medium-12 small-12 columns">
            <h4>Receba nossos informativos</h4>
        </div>
    </div>
    {% if messages %}
    <div class="row">
        <div class="large-12 medium-12 small-12 columns ">
            {% for message in messages %}
              <div data-alert class="alert-box {{ message.tags }} radius">
                {{ message }}
                <a href="#" class="close">&times;</a>
              </div>
            {% endfor %}
        </div>
     </div>
    {% endif %}
	    <!--
            <script type='text/javascript' charset='iso-8859-1' src='{{ MEDIA_URL }}js/main.js'></script>
            <form hash='80853902' id='lista-integracao-form' class='lista-integracao-form' onsubmit='return false;'>
                    <input id='lista-integracao-nome' type='text' size='16' placeholder="Nome">
                    <input id='lista-integracao-email' type='text' size='16' placeholder="Email">
                    <button onclick='onSubmitClick(this)' class="button round">Enviar</button>
                <br><br>
                <div id='lista-integracao-sucessmsg'></div>
            </form>
            -->
  	    <iframe src="http://e.allin.ifenacon.org.br/embed/?F=3062|6b20982d39c51d8d8e3757bce4e42782" width="500" height="281" frameborder="0" ></iframe>
	</div>
        <div class="large-4 medium-4 small-12 columns ">
          <h2 class="section-title">Domínio Sistemas</h2>
           <div class="item-publications">
             <a href="http://www.dominiosistemas.com.br/solucoes/onvio/">
               <img src="http://fenacon.org.br/media/uploads/arquivos/onvio21209371.jpg" width="300">
             </a>
             
           </div>
        </div>
    </div>
</section>

{% if banners %}
<section class="block banner">
    <div class="row">
        <div class="large-9 large-centered medium-10 medium-centered small-12 columns text-center">
            <div class="slide-banner">
                {% for banner in banners %}
                <div class="item-slide-banner">
                    {% if banner.link %}<a href="{{ banner.link }}">{% endif %}
                      <img src="{{ MEDIA_URL }}{{ banner.photo }}" height="135" width="870" alt="">
                    {% if banner.link %}</a>{% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endif %}
{% endblock %}
{% block extrajs %}
<script>
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            alert("Geolocation is not supported by this browser.");
        }
    }
    function showPosition(position) {
        $.get({% url 'location' %}, {latitude: position.coords.latitude, longitude: position.coords.longitude})
            .done(function(data) {
                if(data=='reload'){   
                    location.reload();
                }
            });
    }
    getLocation();
</script>
{% endblock %}
