{% extends 'elements/base.html' %}
{% block title %}Resultados para "{{ request.GET.q }}" - {% endblock %}
{% block content %}
<section class="block">
    <div class="last-news">
        <div class="row">
            <div class="small-12 columns">
                <h2 class="section-title text-left">{{ news.count }} Resultados para "{{ request.GET.q }}" em notícias</h2>

                <div class="row">
                    <div class="large-12 medium-12 small-12 columns">
                        <ul class="small-block-grid-1 medium-block-grid-1 large-block-grid-1">
                            {% for object in news %}
                            <li>
                                <div class="item-list-news">
                                    <div class="row">
                                        <div class="large-2 medium-3 small-12 columns">
                                            <div class="img-list-news">
                                                <a href="{{ object.get_absolute_url }}">
                                                    {% if object.featured_image %}
                                                    <img src="{{ object.get_featured_small }}" height="170" width="170" alt="">
                                                    {% else %}
                                                    <img src="{{ MEDIA_URL }}img/icons/news-default.jpg" height="170" width="170" alt="">
                                                    {% endif %}
                                                </a>
                                            </div>
                                        </div>
                                        <div class="large-10 medium-9 small-12 columns">
                                            <div class="info-list-news">
                                                 <b>{{ object.published_at }}</b>
                                                <a href="{{ object.get_absolute_url }}"><h4>{{ object.title }}</h4></a>
                                                <p>{{ object.subtitle }}</p>
                                                <a href="{{ object.get_absolute_url }}" class="button small round">Ver mais</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="small-12 columns">
                <h2 class="section-title text-left">{{ videos.count }} Resultados para "{{ request.GET.q }}" em vídeos</h2>

                <div class="row">
                    <div class="large-12 medium-12 small-12 columns">
                        <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2">
                           {% for video in videos %}
                               <li>
                                   <div class="item-video">
                                        <div class="iframe-video">
                                            {% if video.type == '0' %}
                                            <iframe src="https://player.vimeo.com/video/{{ video.embed_code }}" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                            {% elif video.type == '1' %}
                                            <iframe width="1280" height="720" src="https://www.youtube.com/embed/{{ video.embed_code }}?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                                            {% endif %}
                                        </div>

                                        <h3>{{ video.title }}</h3>
                                        <p class="categoria">{{ video.category }}</p>
                                   </div>
                               </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="small-12 columns">
                <h2 class="section-title text-left">{{ publications.count }} Resultados para "{{ request.GET.q }}" em publicações</h2>
                <div class="row">
                    <div class="large-12 medium-12 small-12 columns">
                       <ul class="list-magazines small-block-grid-2 medium-block-grid-4 large-block-grid-6">
                          {% for magazine in publications %}
                            <li>
                                <div class="item-magazine">
                                    <div class="cover">
                                        <img src="{{ MEDIA_URL }}{{ magazine.image }}" height="" width="" alt="">
                                    </div>
                                    <div class="name">
                                        <h5>{{ magazine.number }}</h5>
                                    </div>
                                    <div class="actions">
                                        <a href="{{ MEDIA_URL }}{{ magazine.file }}" target="_blank">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                        <a href="{{ MEDIA_URL }}{{ magazine.file }}" download>
                                            <i class="fa fa-download"></i>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                       </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

{% endblock %}